:root {
  --primary-color: #096986;
  --primary-color-dark: #034153;

  font-size: 62.5%; /* 1rem == 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(
    325deg,
    hsl(194, 100%, 48%) 0%,
    hsl(191deg 100% 49%) 17%,
    hsl(188deg 100% 48%) 24%,
    hsl(184deg 100% 46%) 29%,
    hsl(178deg 100% 45%) 34%,
    hsl(172deg 100% 46%) 40%,
    hsl(164deg 89% 54%) 46%,
    hsl(148deg 92% 68%) 54%,
    hsl(123deg 95% 77%) 67%,
    hsl(95deg 100% 75%) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  border-radius: 1.6rem;
  gap: 1.6rem;
}

.title {
  font-size: 32px;
  color: var(--primary-color);
}

.text {
  font-size: 1.6rem;
}

.form input {
  width: 100%;
  height: 3.2rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.4rem;
  margin-bottom: 20px;
  padding-left: 1rem;
}

.form label {
  font-size: 1.6rem;
}

.form label span {
  font-size: 1.2rem;
  font-style: italic;
  color: #a1a1a1;
}
.btn {
  width: 100%;
  height: 4.4rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  background-color: var(--primary-color);
  transition: 0.3s ease-in;
  cursor: pointer;
  margin-top: 1.2rem;
}

.btn:hover {
  color: #fff;
  background-color: var(--primary-color-dark);
}
